<%- include('includes/_header', { title: isNew ? 'Registro' : 'Login' }) %>
<%- include('includes/_nav') %>

<div class="container">
    <h1 class="title"><%= isNew ? 'Registrarse' : 'Iniciar sesi칩n' %></h1>
    <% if (info) { %>
        <div class="notification is-info"><%= info %></div>
    <% } %>
    <% if (warning) { %>
        <div class="notification is-danger"><%= warning %></div>
    <% } %>
    <form action="/users/<%= isNew ? 'signup' : 'login' %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="field">
            <label for="username" class="label">Usuario</label>
            <div class="control">
                <input class="input is-info" type="text" placeholder="Pepito" id="username" name="username" required>
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Contrase침a</label>
            <div class="control">
                <input class="input is-info" type="password" placeholder="Tu contrase침a secreta 游밿" id="password" name="password" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-info is-pulled-right" type="submit" value="<%= isNew ? 'Registrarse' : 'Entrar' %>">
            </div>
        </div>
    </form>
    <br>
    <p>
        <% if (isNew) { %>
            쯏a tienes una cuenta? <a href="/users/login">Inicia sesi칩n aqu칤</a>
        <% } else { %>
            쯅o tienes una cuenta? <a href="/users/signup">Reg칤strate aqu칤</a>
        <% } %>
    </p>
</div>

<%- include('includes/_footer.ejs') %>
