<%- include('../includes/_header', { title: 'Mi blog' }) %>
<%- include('../includes/_nav') %>

<h1 class="title is-1">Blog Personal</h1>
<a class="button is-info" href="/blog/create">Crear nueva publicación</a>

<ul>
    <% posts.forEach(post => { %>
        <li>
            <h2 class="title is-2"><%= post.title %></h2>
            <p class="is-size-5"><%= post.content %></p>
            <small><%= post.date %></small>
            <br>
            <form action="/blog/delete/<%= post.id %>" method="POST">
                <button class="button is-warning" type="submit">Eliminar post</button>
            </form>
        </li>
    <% }); %>
</ul>

<%- include('../includes/_footer.ejs') %>